@font-face {
   font-family: 'Montserrat';
   src: url('./webfonts/Montserrat-Regular.ttf') format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'Montserrat';
   src: url('./webfonts/Montserrat-Medium.ttf') format('truetype');
   font-weight: 500;
}

@font-face {
   font-family: 'Montserrat';
   src: url('./webfonts/Montserrat-Bold.ttf') format('truetype');
   font-weight: 700;
}