@import "./normalize.css";
@import "./font.css";

/* == GENERAL ==*/
:root {
   --dark-color: #2c3e50;
   --dark-color-light: #34495e;
}

/* overflow custom for chrome webkit */
::-webkit-scrollbar {
   background-color: #25313f;
}
::-webkit-scrollbar-thumb {
   background-color: #7a818a;
}

*, ::before, ::after {
   padding: 0;
   box-sizing: border-box;
}

html {
   line-height: 1.5;
}

body {
   background-color: var(--dark-color);
   font-family: 'Montserrat', sans-serif;
}

.container-50 {
   max-width: 50rem;
   margin: 0 auto;
}

body.scroll-up header {
   transform: translate3d(0, 0, 0);
   background-color: var(--dark-color-light);
   transition: all 0.3s;
}
body.scroll-down header {
   transform: translate3d(0, -100%, 0);
   transition: all 0.3s;
}

/* == GENERAL END ==*/

/* == HEADER ==*/
.top-header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
}
/* == HEADER END ==*/

/* == BANNER SLIDER == */

.banner-slider {
   overflow: hidden;
}

.hero-banner {
   position: relative;
   margin-bottom: 5rem;
}

.hero-banner-background {
   --bg-opacity: 1;
   position: absolute;
   top: 0;
   left: 0;
   height: 10rem;
   width: 100%;
   background-color: rgba(85, 60, 154, var(--bg-opacity));
}

.hero-banner-inner {
   margin: 0 auto;
   position: relative;
   top: 4rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

@media screen and (min-width: 768px) {
   .hero-banner-background {
      height: 16rem;  
   }  
}
/* == BANNER SLIDER END == */


/* == MOVIE SECTION == */
#section-parent {
   padding: 1.25rem 1rem;
}

.section-title {
   --text-opacity: 1;
  color: rgba(255, 255, 255, var(--text-opacity));
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.section-movie {
   background-color: var(--dark-color);
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   padding-bottom: 1rem;
   margin-bottom: 1.5rem;
}
.section-movie:last-child {
   /* margin-bottom: 0; */
}
/* == MOVIE SECTION END == */


