:root {
   --dark-color: #2c3e50;
   --dark-color-light: #34495e;
}

@tailwind base;
@tailwind components;

body {
   background-color: var(--dark-color);
}

.container-wrapper {
   max-width: 700px;
   margin: 0 auto;
}

body.scroll-up header {
   transform: translate3d(0, 0, 0);
   background-color: var(--dark-color-light);
   transition: all 0.3s;
}
body.scroll-down header {
   transform: translate3d(0, -100%, 0);
   transition: all 0.3s;
}

/* .bg-dark-color {
   background-color: var(--dark-color);
} */

@tailwind utilities;