:root {
   --dark-color: #34495e;
}

@tailwind base;
@tailwind components;

body {
   background-color: var(--dark-color);
}

.container-wrapper {
   max-width: 700px;
   margin: 0 auto;
}

/* .bg-dark-color {
   background-color: var(--dark-color);
} */

@tailwind utilities;